@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 27, 27, 1);
}
.container {
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 1280px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-logo {
    color: #fff;
    font-family: "Oswald", sans-serif;
  }
  h1{
    color: #fff;
  }
}
